<div class="card-container">
    <div class="card-container__image">
        <img [src]="user.picture.medium" alt="">
    </div>

    <div class="card-container__name">
        Name:  {{ user.name.first }} {{ user.name.last }}
    </div>

    <div class="card-container__gender">
        Gender: {{ user.gender }}
    </div>


    <div class="card-container__location">
        Country: {{ user.location.country }}
    </div>

    <div class="card-container__email">
        Email:  {{ user.email }}
    </div>

    <div class="weather-container">
        <div class="weather-container__temperature">
            Lowest: {{ lowestTemp }} C
            Highest: {{ highestTemp }} C
        </div>

        <div class="weather-container__weather-state">
            {{ weather.current_weather.weathercode }}
        </div>


    </div>
</div>
