<div class="dashboard-container">
  <h1 class="dashboard-container__title">Dashboard</h1>

  <ng-container *ngIf="state$ | async as state; else loadingTpl">
    <div class="dashboard-container__list">
      <ng-container *ngFor="let stateItem of state">
        <app-card
          class="dashboard-container__list-item"
          [showMap]="false"
          [lsState]="bhState$ | filterObs: stateItem | async"
          (showLocationClick)="handleLocation($event)"
          (saveUserClick)="handleSave($event)"
          (removeUserClick)="handleRemove($event)"
          [weatherState]="stateItem"
        >
        </app-card>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #loadingTpl>
    <div class="dashboard-container__loader">Loading...</div>
  </ng-template>
</div>
