.header {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;

    fa-icon {
      font-size: 2rem;
    }
  }

  &__links {
    display: flex;
    gap: 16px;

    &-item {
      flex: 1 0 auto;
    }
  }
}
